.linkNav{
  text-decoration: none;
  margin-right: 10px;
  color: #251440;  
}
.linNav:hover{
    color:aqua;
}

.imgGame{
  width: 180px;
  height: 180px;
}

.imgMando{
  width: 80px;
}

.imgDetailGame{
  width: 200px;
  height: 200px;
}

.imgNews{
  width: 200px;
  height: 200px;
  margin: 10px;
}

.containerLoad{
  text-align: center;
}